.Card {
  background-color: rgb(192, 188, 182);
  width: 450px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 15px;
  border: 2px solid rgb(218, 19, 19);
  height: 250px;

  &-Holder {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0;
  }

  &-Number {
    font-size: 32px;
    color: rgb(189, 15, 15);
    font-weight: 700;
  }

  &-Cvc {
    font-weight: 400;
    font-size: 18px;
  }

  &_erste {
    border-color: royalblue;

    .Card-Number {
      color: royalblue;
    }
  }
}
